@use '/src/styles/constants/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dddddd;

  .layout {
    position: relative;
    width: 360px;
    height: 720px;
    overflow: hidden;
    background-color: colors.$BACKGROUND;
    border-radius: 30px;

    .main {
      max-height: calc(100% - 100px);
      overflow: scroll;
    }
  }
}
